<?xml version="1.0"?>
<odoo>
    <!-- Top Menu -->
    <menuitem id="menu_stock_root"
              name="股票"
              />

    <!-- Stock -->
    <record id="action_stock" model="ir.actions.act_window">
        <field name="name">股票基本資訊</field>
        <field name="res_model">stock</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_stock_option_1"
              name="股票清單"
	            action="action_stock"
              parent="menu_stock_root"
              />

</odoo>


