<?xml version="1.0"?>
<odoo>
    <!-- Top Menu -->
    <menuitem id="menu_stock_root"
              name="股票"
              />

    <!-- Invest History -->
    <record id="action_stock_invest_history" model="ir.actions.act_window">
        <field name="name">投資紀錄</field>
        <field name="res_model">stock.invest.history</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_stock_invest_history"
              name="投資紀錄"
	            action="action_stock_invest_history"
              parent="menu_stock_root"
              sequence="1"
              />

    <!-- Stock -->
    <record id="action_stock" model="ir.actions.act_window">
        <field name="name">股票基本資訊</field>
        <field name="res_model">stock</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_stock"
              name="股票清單"
	            action="action_stock"
              parent="menu_stock_root"
              sequence="2"
              />

    <!-- User -->
    <record id="action_stock_user" model="ir.actions.act_window">
        <field name="name">投資人</field>
        <field name="res_model">stock.user</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_stock_user"
              name="投資人"
	            action="action_stock_user"
              parent="menu_stock_root"
              sequence="3"
              />

    <!-- Bank -->
    <record id="action_stock_bank" model="ir.actions.act_window">
        <field name="name">帳戶</field>
        <field name="res_model">stock.bank</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_stock_bank"
              name="帳戶"
	            action="action_stock_bank"
              parent="menu_stock_root"
              sequence="4"
              />

    <!-- Invest -->
    <record id="action_stock_invest" model="ir.actions.act_window">
        <field name="name">入帳紀錄</field>
        <field name="res_model">stock.invest</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_stock_invest"
              name="入帳紀錄"
	            action="action_stock_invest"
              parent="menu_stock_root"
              sequence="5"
              />

    <!-- Other -->
    <menuitem id="menu_stock_other"
              name="其他"
              parent="menu_stock_root"
              sequence="6"
              />

</odoo>


